html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: px;
}

.wrapper::after {
  content: "";
  display: block;
  height: px;
}

footer {
  height: px;
  margin-top: px;
}