extends ../_template

block variables
  - var title = "Главная страница"

block content 
  +b.block
    +e.title Текст
    +e.SPAN.text Текст текст текст
    +e.images
      +e.subtitle Текст
    +e.blocks Текст