include bemto_custom_tag.pug

mixin bemto_tag(tag, tagMetadata)
  - var settings = get_bemto_settings()
  - tagMetadata = tagMetadata || {}

  - var newTag = tag || settings['default_tag']
  - var contextIndex = bemto_chain_contexts.length

  if !tag
    if bemto_chain_contexts[contextIndex-1] === 'inline'
      - newTag = 'span'
    else if bemto_chain_contexts[contextIndex-1] === 'list'
      - newTag = 'li'
    else if bemto_chain_contexts[contextIndex-1] === 'optionlist'
      - newTag = 'option'

  if !tag || tag == 'span' || tag == 'div'
    if attributes.href
      - newTag = 'a'
    if attributes.for
      - newTag = 'label'
    if attributes.type
      - newTag = block ? 'button' : 'input'
    else if attributes.src
      - newTag = 'img'

  if bemto_chain_contexts[contextIndex-1] === 'list' && newTag !== 'li'
    | <li>
  else if bemto_chain_contexts[contextIndex-1] !== 'list' && bemto_chain_contexts[contextIndex-1] !== 'pseudo-list' && newTag === 'li'
    | <ul>
    - bemto_chain_contexts[bemto_chain_contexts.length] = 'pseudo-list'
  else if bemto_chain_contexts[contextIndex-1] === 'pseudo-list' && newTag !== 'li'
    | </ul>
    - bemto_chain_contexts = bemto_chain_contexts.splice(0,bemto_chain_contexts.length-1)

  - var content_type = tagMetadata.content_type || get_bemto_tag_content_type(newTag)
  - bemto_chain_contexts[bemto_chain_contexts.length] = content_type

  if newTag == 'img'
    if attributes.alt && !attributes.title
      - attributes.title = ''
    if attributes.title && !attributes.alt
      - attributes.alt = attributes.title
    if !attributes.alt
      - attributes.alt = ''
    if attributes.alt === ''
      - attributes.role = 'presentation'
    if !attributes.src
      if settings.nosrc_substitute === true
        - attributes.src = 'data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=='
      else if settings.nosrc_substitute
        - attributes.src = settings.nosrc_substitute

  if newTag == 'input'
    if !attributes.type
      - attributes.type = "text"

  if newTag == 'main'
    if !attributes.role
      - attributes.role = 'main'
  if newTag == 'html'
    <!DOCTYPE html>

  +bemto_custom_tag(newTag, tagMetadata)&attributes(attributes)
    if block
      block

  if bemto_chain_contexts[contextIndex-1] === 'list' && newTag != 'li'
    | </li>
