@font-face {
  font-family: 'имя', альтернатива, семейство;
  src: url('./../fonts/имя.формат') format('формат'),
       url('./../fonts/имя.формат') format('формат');
  font-weight: normal;
  font-style: normal;
}

@mixin имя($style) {
  font-family: 'имя', альтернатива, семейство;

  @if $style == bold {
    font-weight: bold;
    font-style: normal;
  }
  @if $style == italic {
    font-weight: normal;
    font-style: italic;
  }
  @if $style == normal {
    font-weight: normal;
    font-style: normal;
  }
}